/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.plus-jakarta-sans {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared Styles */
body {
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

.flex {
    display: flex;
}

.text-gray {
    color: #1E293B;
}

.text-light-gray {
    color: #475569;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.item-start {
    align-items: start;
}

.text-center {
    text-align: center;
}

.font-md {
    font-size: 14px;
    color: #475569;
}

/* Navbar styles */
.navbar {
    max-width: 1216px;
    margin: 0 auto;
}

.brand {
    font-size: 30px;
}

.brand-img {
    margin-top: 8px;
}

.nav-link {
    gap: 32px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
}

.nav-item a:hover {
    color: #4f46e5;
}

.btn-secondary {
    font-size: 16px;
    font-weight: 700;
    padding: 13px 20px;
    border: 1px solid #CBD5E1;
    border-radius: 1234px;
    background-color: white;
}

.btn-primary {
    color: #FFFFFF;
    background-color: #4F46E5;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 20px;
    border: 1px solid #CBD5E1;
    border-radius: 1234px;
}

.btn-secondary:hover {
    cursor: pointer;
    background-color: #b7bcc5;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #3832bb;
}

.btn {
    gap: 8px;
}

/* 
---------------------
     Banner Styles
---------------------
*/

.banner-container {
    margin-top: 60px;
    background: linear-gradient(to bottom, #ffffff 0%, #98acec 150%);
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 24px;
}

.sub-title {
    color: #4F46E5;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding: 6px 12px;
    background-color: #eef2ff;
    border-radius: 20px;
}

.store-btn {
    gap: 8px;
    margin-top: 48px;
    margin-bottom: 64px;

}

.mockup-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.banner-image {
    padding-right: 70px;
    max-width: 100%;
    width: 850px;
    border-radius: 20px;
    z-index: 1;
}

.banner-image2 {
    position: absolute;
    top: 25%;
    right: 18%;
    width: 300px;
    z-index: 2;
    border-radius: 20px;
}

/* 
---------------------
     Brands Styles
---------------------
*/

.brands {
    display: grid;
    grid-template-columns: repeat(6, auto); 
    grid-template-rows: repeat(2, auto);
    justify-content: space-around; 
    gap: 40px 60px; 
    padding: 64px 112px;
  }
  
